@charset "utf-8";
/* CSS Document */
@import "reset.css";

:root{
    background-color: #f2f2f2;
}

body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    min-height: 100vh;
}


#app {
    display: flex;
    background-color: yellow;
}

/* 사이드바 이외의 컴포넌트들(헤더,메인,푸터) 묶음 */
all-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}




/* 사이드 바 */
.sidebar {
    /* background-color: #f2f2f2; */
    background-color: #EADDFF;
    padding: 20px;
    width: 200px;
    margin: 0;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    color: #000;
    font-weight: bold;
}

.sidebar a.router-link-active {
    color: #000;
    font-weight: bold;
}



/* 헤더 */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* 컨텐츠를 양쪽 끝으로 정렬 */
    justify-content: flex-end; /* 컨텐츠를 오른쪽으로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.logo-container {
    margin-left: auto;
}

header .logo {
    width: 100px;
    height: 100px;
}



/* 푸터 */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: flex-end; /* 푸터 컨텐츠를 오른쪽으로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}



/* 메인 */
main {
    padding: 3%;
    background-color: aqua;
    flex: 1;
}